.container{
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    
}
h1{
    color:dodgerblue;
}
.playerInfo{
    display: flex;
    justify-content: space-between;
}

button{
    width: fit-content;
    height: 35px;
    font-size: 20px;
}

label{
    font-size: 30px;
}